 body {
  background: black;
 }
 h1 {
  color: blueviolet;
 }
 .Hexagono{
  top: 420px;
  left: 500px;
  position: absolute;
}

 .hexagon {
  height: 0%;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid red;
  transform: rotate(0deg);
  border-radius: 0%;
  
  
}
.Hexagono1{
  top: 405px;
  left: 458px;
  position: absolute;
}
.hexagon1{
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid green;
  transform: rotate(45deg);
  border-radius: 0%;
}
.Hexagono2{
  top: 364px;
  left: 440px;
  position: absolute;
}
.hexagon2 {
  width: 0;
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid blue;
  transform: rotate(90deg);
  border-radius: 0%;
}
.Hexagono3{
  top: 322px;
  left: 455px;
  position: absolute;
}
.hexagon3 {
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid gray;
  transform: rotate(135deg);
  border-radius: 0%;
}
.Hexagono4{
  top: 305px;
  left: 495px;
  position: absolute;
}
.hexagon4 {
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid yellow;
  transform: rotate(178deg);
  border-radius: 0%;
}
.Hexagono5{
  top: 405px;
  left: 540px;
  position: absolute;
}
.hexagon5 {
  height: 0px;
  border-left: 40px  solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid orchid;
  transform: rotate(317deg);
  border-radius: 0%;
}
.Hexagono6{
  top: 367px;
  left: 560px;
  position: absolute;
}
.hexagon6 {
  height: 0px;
  border-left: 40px  solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid rgb(216, 124, 63);
  transform: rotate(273deg);
  border-radius: 0%;
}
.Hexagono7{
  top: 322px;
  left: 540px;
  position: absolute;
}
.hexagon7 {
  height: 0px;
  border-left: 40px  solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid #ccff33;
  transform: rotate(224deg);
  border-radius: 0%;
}